{{ define "home"}}

{{ template "header" }}

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Контент</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
            
                {{ range $key, $value := .Posts }}
                    <tr>
                        <td>{{$value.Username}}</td>
                        <td>{{$value.Email}}</td>
                        <td>{{$value.Content}}</td>
                        <td><a href="/editPost?id={{$value.Id}}">Редактировать</a></td>
                    </tr>
                {{end}}
            
            </tbody>
        </table>
    </div>

{{ template "footer" }}

{{end}}